@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --text: #ffffff;
    --component-layer: rgba(255, 255, 255, 0.02);
    --borderRadius: 0.8rem;
}

* {
    box-sizing: border-box;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    scroll-behavior: smooth;
}

textarea::selection {
    background: rgba(0, 0, 0, 0) !important;
}

body {
    color: var(--text);
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    transition: 0.5s cubic-bezier(1, 0, 0, 1);
    /* margin-top: 10rem; */
}

#app {
    min-height: calc(400px); /* index.js window size */
    background-image: url(assets/noise.png);
    background-color: rgba(0, 0, 0, 0.9);
    background-size: 6%;
}

.nav {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.8fr 0.2fr 0.1fr;
    margin: 0 0 1rem 0;
    align-items: center;
    gap: 1rem;
    background: rgb(25, 25, 25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 1rem 2rem;
    border-radius: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 5rem rgb(22, 22, 22);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    border: 0;
    border-radius: var(--borderRadius);
    padding: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    color: #999;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.button:hover {
    background: var(--component-layer);
    transform: scale(1.1);
}

#clearFilter {
    margin: 0 2rem 1rem 2rem;
    color: #999;
    cursor: pointer;
    width: fit-content;
    font-style: italic;
}
#clearFilter:hover {
    color: white;
}

.title {
    margin: 0;
    font-size: 1rem;
    color: #eee;
    text-transform: uppercase;
}

.search {
    box-sizing: border-box;
    width: 45vw;
    display: block;
    border-radius: var(--borderRadius);
    border: 2px solid var(--component-layer);
    outline: 0;
    padding: 0.5rem 1.5rem;
    background-color: var(--component-layer);
    font-family: inherit;
    font-size: 1.1rem;
    color: white;
}

#datetime-local-filter {
    width: 300px;
    display: block;
    outline: 0;
    padding: 0.5rem 1.5rem;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.1rem;
    color: #999;
    appearance: none;
}

#datetime-local-filter::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
}

#clipboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 0 2rem;
}

#clipboard .pasted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--component-layer);
    border-radius: var(--borderRadius);
    height: fit-content;
    background-color: var(--component-layer);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--text);
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    display: block;
    overflow-y: hidden !important;
    transition: 0.3s;
}

#clipboard .pasted:hover {
    border: 2px solid transparent;
    box-shadow: 0 0 0 5px rgb(0, 102, 255);
}

#clipboard .pasted .details {
    color: #ccc;
    padding: 8px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#clipboard .pasted .details .more {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    padding: 4px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

#clipboard .pasted .details .delete {
    border-radius: 5px;
    background: rgba(255, 100, 100, 0.2);
    color: rgb(255, 83, 83);
    padding: 4px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clipboard textarea {
    padding: 12px;
    cursor: pointer;
    caret-color: transparent;
    border: 0;
    outline: 0;
    resize: none;
    font-family: inherit;
    font-size: 1.1rem;
    color: var(--text);
    background: transparent;
    overflow-y: hidden;
    width: 100%;
    height: 80px;
}

#clipboard textarea * {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
}

#clipboard .textarea::selection,
#clipboard textarea *::selection {
    background-color: transparent;
}

.menu-container {
    opacity: 0%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.menu-popup {
    opacity: 0%;
    z-index: 100;
    width: 40vw;
    position: fixed;
    min-height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 101;
    max-height: 200px;
    overflow-y: scroll;
}

code {
    display: block;
    font-family: monospace;
    font-size: 0.9rem;
    color: var(--text);
    height: 100%;
    overflow-y: scroll;
    margin-top: 2rem;
    padding: 8px;
    margin-bottom: 0;
}

.menu-popup h2 {
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;
    padding: 8px;
    margin: 0;
}

.menu-popup p {
    margin: 0;
    color: var(--text);
}

@media screen and (max-width: 500px) {
    .menu-popup {
        width: 100%;
    }
}
